<nav class="navbar bg-body-tertiary border-bottom fixed-top custom-navbar">
  <div class="container-fluid">

    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- Search (Center) -->
    <form class="d-flex search-form" role="search" action="/listings" method="GET">
      <input class="form-control me-2 search-inp" type="search" name="search" placeholder="Search Destination"
        aria-label="Search" />
      <button class="btn btn-search" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <!-- Custom Hamburger -->
    <div class="custom-hamburger d-md-none" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- All Other Nav Items -->
    <div class="nav-items">

      <a class="nav-link" href="/listings">Explore</a>
      <a class="nav-link" href="/listings/new">Airbnb Your Home</a>

      <% if(!currUser) { %>
        <a class="nav-link active" href="/signup"><b>SignUp</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>

          <% if(currUser) { %>
            <a class="nav-link" href="/logout"><b>Logout</b></a>
            <% } %>

    </div>

  </div>
</nav>